<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CINFIRMATION</title>
   <link rel="stylesheet" type="text/css"  
   th:href="@{css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}"/>
    <link th:href="@{assets/vendor/fonts/circular-std/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{assets/libs/css/style.css}"/>
    <link rel="stylesheet" th:href="@{assets/vendor/fonts/fontawesome/css/fontawesome-all.css}"/>
</head>
<body>
<div class="dashboard-main-wrapper">
<div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">Produit</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <div class="container">
        <div class="row">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                         <div class="card">
                                        <h5 class="card-header">
  
                                      Ajouter un nouveau produit

                                        </h5>
                                        <div class="card-body">
                                      <form action="/save" method="POST">
                                           <div class="form-group">
                                            <label for="example-text-input" class="col-form-label">Designation</label>
                                            <input class="form-control" type="text" 
                                            name="designation" th:value="${produit.designation}"  id="example-text-input">
                                               <span th:errors="${produit.designation}" class="text-danger"></span>
                                           </div>
                                           
                                           <div class="form-group">
                                            <label for="example-search-input" class="col-form-label">Prix</label>
                                            <input class="form-control" type="text" name="prix" 
                                            th:value="${produit.prix}"   id="example-search-input">
                                            <span th:errors="${produit.prix}" class="text-danger"></span>
                                           </div>
                                        
                                        <div class="form-group">
                                            <label for="example-email-input" class="col-form-label">Quantite</label>
                                            <input class="form-control"
                                             type="text" name="quantite" th:value="${produit.quantite}" 
                                              id="example-email-input">
                                               <span th:errors="${produit.quantite}" class="text-danger"></span>
                                        </div>
    
                                            </div>
                                            <div class="card-footer">
                                               
                                                <button type="submit" class="form-control btn btn-secondary">
                                                Ajouter</button>
                                            </div>
                                         </form>
 
                                        </div>
                    </div>
                      <div class="col-lg-2 col-md-2"></div>
                </div>
        </div>
</div>

</body>
</html>